<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <a id="logo" href="http://localhost:8000"><div id="logo-img"></div></a>
        <nav class="navbar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000">Home</a>
                </li>
            </ul>
        </nav>
    </header>

    <section>
        <h1>What you want to find?</h1>
        <p>Enter the product id here.</p>
        <hr>
        <form action="/search" method="get">
            <br><br>
            <input type="text" name="searchterm" value="Enter the id">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </section> 
</body>
</html>